<p>
  <h1>Asset: Cart Warranty Search Result</h1>
  <h3>
    <% if @cart == nil %>
        Cart is not in Warranty
    <% else%>
       <br>Cart Number: <%=@cart.cart_number%> is in warranty.</br>
       <br>Cart Warranty Expiration Date: <%=@request.warranty%> </br>
       <br>Please Contact 311 and provide:</br>
        <br>1. your solid waste service unit address</br>
        <br>2. your container number: <%=@cart.cart_number%></br>
    <% end%>
  </h3>
  <p><%= link_to "New Cart Search", new_cart_path,  method: :get %></p>
</p>
