<table>
  <tr>
    <th>Service Request Type</th>
    <th>Total - SR</th>
    <th>Outstanding SR</th>
    <th>% Overdue</th>
    <th>% Not Overdue</th>
    <th>Grade</th>
  </tr>
  <tr><td>New Resident Container</td>
    <td> <%=@NewResidentContainerTotal%> </td>
    <td> <%=@NewResidentContainerOverdue%> </td>
  </tr>
</table>
