<tr>
  <td>NE: Number of Updated Srs by Quad After Closed Sr by Quad</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%=@deptNEwide_mar_2020_sla_cases_closed_but_updated_later %></td>
</tr>
<tr>
  <td>NE: Number Srs Created during the Month </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%=@deptNEwide_mar_2020_sla_due_cases%></td>
</tr>
<tr>
  <td>NE:Grade: Updated As A % of Closed Srs-Not Based On SLA </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%=%></td>
  <td><%=  @deptNEwide_mar_2020_updated_grade%></td>
</tr>
