<tr>
  <td>SE: Number of Closed But Later Updated Srs</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%=@deptSEwide_mar_2020_sla_cases_closed_but_updated_later%></td>
</tr>
<tr>
  <td>SE: Number Srs Created during the Month </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%=@deptSEwide_mar_2020_sla_due_cases%></td>
</tr>
<tr>
  <td>SE:Grade: Updated As A % of Closed Srs-Not Based On SLA</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%=@deptSEwide_mar_2020_updated_grade%></td>
</tr>
