<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
    table {
       border-collapse:collapse;
       border: 2px #0080ff solid;
       }
       td, th {
       padding: 10px;
       border-bottom: 2px solid #8ebf42;
       border-radius: 5px;
       text-align: left;
       font-size: 18px;
       }
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
</head>
<body>
  <h2>Daily Update Task Table</h2>
<table cellspacing="15", exclass="table table-striped">
</table>
<table>
  <tr>
    <th>Task</th>
  </tr>
  <tr>
  <td>Task 1</td>
  </tr>
</table>
</html>
