<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>
  <h1>Hyperlink Pages to Overdues List By Day, and Case Type</h1>
  <table cellspacing = "15">
    <tr>
      <th>Service Day</th>
      <th>Missed Garbage</th>
      <th>Missed Recycling</th>
      <th>Missed Yard Waste</th>
      <th>Missed Heavy Trash</th>
    </tr>
    <tr><td>Monday</td><td><a href="/open_srs/test13">Garbage</a></td><td><a href="/open_srs/test25">Recycling</a></td><td><a href="/open_srs/test18">Yard</a></td><td><a href="/open_srs/test14">Heavy</a></td></tr>
    <tr><td>Tuesday</td><td><a href="/open_srs/test12">Garbage</a></td><td><a href="/open_srs/test24">Recycling</a></td><td><a href="/open_srs/test19">Yard</a></td><td><a href="/open_srs/test15">Heavy</a></td></tr>
    <tr><td>Thursday</td><td><a href="/open_srs/test11">Garbage</a></td><td><a href="/open_srs/test23">Recycling</a></td><td><a href="/open_srs/test20">Yard</a></td><td><a href="/open_srs/test16">Heavy</a></td></tr>
    <tr><td>Friday</td><td><a href="/open_srs/test10">Garbage</a></td><td><a href="/open_srs/test23">Recycling</a></td><td><a href="/open_srs/test21">Yard</a></td><td><a href="/open_srs/test17">Heavy</a></td></tr>

  </table>
</body>
</html>
