<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>
  <h1>City Wide: Hyperlink Pages to Overdues List By Day, and Case Type</h1>
  <table cellspacing = "15">
      <tr>
      <th>Service Day</th>
      <th>Missed Garbage</th>
      <th>Missed Recycling</th>
      <th>Missed Yard Waste</th>
      <th>Missed Heavy Trash</th>
    </tr>
    <tr><td>Monday</td><td><a href="/open_srs/test13">Garbage</a></td><td><a href="/open_srs/test25">Recycling</a></td><td><a href="/open_srs/test18">Yard</a></td><td><a href="/open_srs/test14">Heavy</a></td></tr>
    <tr><td>Tuesday</td><td><a href="/open_srs/test12">Garbage</a></td><td><a href="/open_srs/test24">Recycling</a></td><td><a href="/open_srs/test19">Yard</a></td><td><a href="/open_srs/test15">Heavy</a></td></tr>
    <tr><td>Thursday</td><td><a href="/open_srs/test11">Garbage</a></td><td><a href="/open_srs/test23">Recycling</a></td><td><a href="/open_srs/test20">Yard</a></td><td><a href="/open_srs/test16">Heavy</a></td></tr>
    <tr><td>Friday</td><td><a href="/open_srs/test10">Garbage</a></td><td><a href="/open_srs/test22">Recycling</a></td><td><a href="/open_srs/test21">Yard</a></td><td><a href="/open_srs/test17">Heavy</a></td></tr>

  </table>
  <h1>Southwest Quadrant: Hyperlink Pages to Overdues List By Day, and Case Type</h1>
  <table cellspacing = "15">
      <tr>
      <th>Service Day</th>
      <th>Missed Garbage</th>
      <th>Missed Recycling</th>
      <th>Missed Yard Waste</th>
      <th>Missed Heavy Trash</th>
    </tr>
    <tr><td>Monday</td><td><a href="/open_srs/test26">Garbage</a></td><td><a href="/open_srs/test27">Recycling</a></td><td><a href="/open_srs/test28">Yard</a></td><td><a href="/open_srs/test29">Heavy</a></td></tr>
    <tr><td>Tuesday</td><td><a href="/open_srs/test30">Garbage</a></td><td><a href="/open_srs/test31">Recycling</a></td><td><a href="/open_srs/test32">Yard</a></td><td><a href="/open_srs/test33">Heavy</a></td></tr>
    <tr><td>Thursday</td><td><a href="/open_srs/test34">Garbage</a></td><td><a href="/open_srs/test35">Recycling</a></td><td><a href="/open_srs/test36">Yard</a></td><td><a href="/open_srs/test37">Heavy</a></td></tr>
    <tr><td>Friday</td><td><a href="/open_srs/test38">Garbage</a></td><td><a href="/open_srs/test39">Recycling</a></td><td><a href="/open_srs/test40">Yard</a></td><td><a href="/open_srs/test41">Heavy</a></td></tr>
  </table>
  <h1>Southeast Quadrant: Hyperlink Pages to Overdues List By Day, and Case Type</h1>
  <table cellspacing = "15">
      <tr>
      <th>Service Day</th>
      <th>Missed Garbage</th>
      <th>Missed Recycling</th>
      <th>Missed Yard Waste</th>
      <th>Missed Heavy Trash</th>
    </tr>
    <tr><td>Monday</td><td><a href="/open_srs/test42">Garbage</a></td><td><a href="/open_srs/test43">Recycling</a></td><td><a href="/open_srs/test44">Yard</a></td><td><a href="/open_srs/test45">Heavy</a></td></tr>
    <tr><td>Tuesday</td><td><a href="/open_srs/test46">Garbage</a></td><td><a href="/open_srs/test47">Recycling</a></td><td><a href="/open_srs/test48">Yard</a></td><td><a href="/open_srs/test49">Heavy</a></td></tr>
    <tr><td>Thursday</td><td><a href="/open_srs/test50">Garbage</a></td><td><a href="/open_srs/test51">Recycling</a></td><td><a href="/open_srs/test52">Yard</a></td><td><a href="/open_srs/test53">Heavy</a></td></tr>
    <tr><td>Friday</td><td><a href="/open_srs/test54">Garbage</a></td><td><a href="/open_srs/test55">Recycling</a></td><td><a href="/open_srs/test56">Yard</a></td><td><a href="/open_srs/test57">Heavy</a></td></tr>
  </table>
  <h1>Northeast Quadrant: Hyperlink Pages to Overdues List By Day, and Case Type</h1>
  <table cellspacing = "15">
      <tr>
      <th>Service Day</th>
      <th>Missed Garbage</th>
      <th>Missed Recycling</th>
      <th>Missed Yard Waste</th>
      <th>Missed Heavy Trash</th>
    </tr>
    <tr><td>Monday</td><td><a href="/open_srs/test58">Garbage</a></td><td><a href="/open_srs/test59">Recycling</a></td><td><a href="/open_srs/test60">Yard</a></td><td><a href="/open_srs/test61">Heavy</a></td></tr>
    <tr><td>Tuesday</td><td><a href="/open_srs/test62">Garbage</a></td><td><a href="/open_srs/test63">Recycling</a></td><td><a href="/open_srs/test64">Yard</a></td><td><a href="/open_srs/test65">Heavy</a></td></tr>
    <tr><td>Thursday</td><td><a href="/open_srs/test66">Garbage</a></td><td><a href="/open_srs/test67">Recycling</a></td><td><a href="/open_srs/test68">Yard</a></td><td><a href="/open_srs/test69">Heavy</a></td></tr>
    <tr><td>Friday</td><td><a href="/open_srs/test70">Garbage</a></td><td><a href="/open_srs/test71">Recycling</a></td><td><a href="/open_srs/test72">Yard</a></td><td><a href="/open_srs/test73">Heavy</a></td></tr>
  </table>
</body>
</html>
