<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>
  <h1>City Wide: Hyperlink Pages to Overdues Maps By Weekdays of the Month, and Case Type</h1>
  <table cellspacing = "15">
    <tr>
      <th>1st Week  of the Month Service Day</th>
      <th>Missed Heavy Trash</th>
    </tr>
    <tr><td>1st Monday</td><td><a href="../public/1st-monday-OverdueHvy">Heavy</a></td></tr>
    <tr><td>1st Tuesday</td><td><a href="../public/1st-tuesday-OverdueHvy">Heavy</a></td></tr>
    <tr><td>1st Wednesday</td><td><a href="../public/1st-wed-OverdueHvy">Heavy</a></td></tr>
    <tr><td>1st Thursday</td><td><a href="../public/1st-thursday-OverdueHvy">Heavy</a></td></tr>
    <tr><td>1st Friday</td><td><a href="../public/1st-friday-OverdueHvy">Heavy</a></td></tr>
  </table>
</body>
</html>
