<b> Daru::DataFrame(13x2) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="2">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NE_Overdue</th>
        
          <th colspan="1">NW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">NEFR103</th>
      
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NEFR113</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NEFR117</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NEFR120</th>
      
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR103</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR104</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR105</th>
      
      
        <td></td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR106</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR115</th>
      
      
        <td></td>
      
        <td>8</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR118</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR119</th>
      
      
        <td></td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR120</th>
      
      
        <td></td>
      
        <td>6</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR121</th>
      
      
        <td></td>
      
        <td>2</td>
      
    </tr>
  

  
</tbody>
</table>