<b> Daru::DataFrame(8x3) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="3">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="3">NW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Yard Waste Pickup</th>
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Garbage Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">NWTH101</th>
      
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH102</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH109</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH112</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH119</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH122</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH123</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH124</th>
      
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>