<b> Daru::DataFrame(15x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="2">NE_Overdue</th>
        
          <th colspan="2">NW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Garbage Pickup</th>
        
          <th colspan="1">Missed Recycling Pickup</th>
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Garbage Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">NEFR101</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NEFR104</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NEFR111</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NEFR120</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR103</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR104</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR105</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR106</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR110</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR111</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR114</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR115</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>5</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR119</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR120</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>5</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWFR121</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>