<b> Daru::DataFrame(27x5) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="5">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="2">SE_Overdue</th>
        
          <th colspan="3">SW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Garbage Pickup</th>
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Yard Waste Pickup</th>
        
          <th colspan="1">Missed Garbage Pickup</th>
        
          <th colspan="1">Missed Recycling Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">SETH101A</th>
      
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH102A</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH106A</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH106B</th>
      
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH107A</th>
      
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH107B</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH108A</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH109A</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH111B</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH113A</th>
      
      
        <td>3</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH117</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH121</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH101</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH102</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH103</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH104</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH106</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH107</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH108</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH109</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH111</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH112</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH114</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH116</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH117</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH119</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH121</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>