<b> Daru::DataFrame(5x2) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="2">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NE_Overdue</th>
        
          <th colspan="1">NW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">NETU107</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTU115</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTU116</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTU122</th>
      
      
        <td></td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTU123</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  

  
</tbody>
</table>