<b> Daru::DataFrame(20x5) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="5">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="2">SE_Overdue</th>
        
          <th colspan="3">SW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Recycling Pickup</th>
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Recycling Pickup</th>
        
          <th colspan="1">Missed Garbage Pickup</th>
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">SEMO104</th>
      
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO105</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO106</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO107</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO108</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO115</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO116</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO118</th>
      
      
        <td></td>
      
        <td>6</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO120</th>
      
      
        <td></td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO121</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO123</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO102</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO110</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO111</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO112</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO113</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>5</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO114</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO115</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
        <td>3</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO116</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO117</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>