<b> Daru::DataFrame(10x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="2">SE_Overdue</th>
        
          <th colspan="2">SW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Recycling Pickup</th>
        
          <th colspan="1">Missed Recycling Pickup</th>
        
          <th colspan="1">Missed Garbage Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">SEMO105</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO112</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO113</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO119</th>
      
      
        <td>6</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO120</th>
      
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO121</th>
      
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SEMO123</th>
      
      
        <td>2</td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO113</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO115</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWMO116</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
    </tr>
  

  
</tbody>
</table>