<b> Daru::DataFrame(11x3) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="3">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SE_Overdue</th>
        
          <th colspan="2">SW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Recycling Pickup</th>
        
          <th colspan="1">Missed Garbage Pickup</th>
        
          <th colspan="1">Missed Recycling Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">SETH103B</th>
      
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH104B</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH105B</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH106A</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH106B</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH120</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH123</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH102</th>
      
      
        <td></td>
      
        <td>7</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH103</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH108</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH110</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
    </tr>
  

  
</tbody>
</table>