<b> Daru::DataFrame(4x2) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="2">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="2">NW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Garbage Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">NWTH101</th>
      
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH102</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH106</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">NWTH109</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  

  
</tbody>
</table>