<b> Daru::DataFrame(4x8) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="8">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW_Not_Overdue</th>
        
          <th colspan="1">SW_Overdue</th>
        
          <th colspan="1">SE_Not_Overdue</th>
        
          <th colspan="1">SE_Overdue</th>
        
          <th colspan="1">NW_Not_Overdue</th>
        
          <th colspan="1">NW_Overdue</th>
        
          <th colspan="1">NE_Not_Overdue</th>
        
          <th colspan="1">NE_Overdue</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>36</td>
      
        <td>25</td>
      
        <td>19</td>
      
        <td>10</td>
      
        <td>40</td>
      
        <td>1</td>
      
        <td>6</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>9</td>
      
        <td>6</td>
      
        <td>33</td>
      
        <td>36</td>
      
        <td>18</td>
      
        <td>29</td>
      
        <td>7</td>
      
        <td>26</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>11</td>
      
        <td>14</td>
      
        <td>12</td>
      
        <td>5</td>
      
        <td>8</td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>46</td>
      
        <td>15</td>
      
        <td>3</td>
      
        <td></td>
      
        <td>25</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>