<b> Daru::DataFrame(4x8) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="8">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW_Not_Overdue</th>
        
          <th colspan="1">SW_Overdue</th>
        
          <th colspan="1">SE_Overdue</th>
        
          <th colspan="1">NW_Not_Overdue</th>
        
          <th colspan="1">NE_Not_Overdue</th>
        
          <th colspan="1">NE_Overdue</th>
        
          <th colspan="1">SE_Not_Overdue</th>
        
          <th colspan="1">NW_Overdue</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>50</td>
      
        <td>35</td>
      
        <td>4</td>
      
        <td>18</td>
      
        <td>2</td>
      
        <td>9</td>
      
        <td>3</td>
      
        <td>9</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>16</td>
      
        <td></td>
      
        <td>72</td>
      
        <td>27</td>
      
        <td>17</td>
      
        <td>4</td>
      
        <td>69</td>
      
        <td>34</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>58</td>
      
        <td>21</td>
      
        <td>30</td>
      
        <td>5</td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td>45</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>41</td>
      
        <td>3</td>
      
        <td>1</td>
      
        <td>10</td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td>2</td>
      
    </tr>
  

  
</tbody>
</table>