<b> Daru::DataFrame(10x2) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="2">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SE_Overdue</th>
        
          <th colspan="1">SW_Overdue</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Missed Heavy Trash Pickup</th>
        
          <th colspan="1">Missed Recycling Pickup</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">SETH102A</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH106A</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH106B</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH107A</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH107B</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH111B</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SETH113A</th>
      
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH107</th>
      
      
        <td></td>
      
        <td>3</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH108</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWTH119</th>
      
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  

  
</tbody>
</table>