<b> Daru::DataFrame(5x12) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="12">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">June_20</th>
        
          <th colspan="1">May_20</th>
        
          <th colspan="1">Feb_20</th>
        
          <th colspan="1">Mar_20</th>
        
          <th colspan="1">Apr_20</th>
        
          <th colspan="1">Jan_20</th>
        
          <th colspan="1">July_2019</th>
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="1">Sep_2019</th>
        
          <th colspan="1">Oct_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
          <th colspan="1">Dec_2019</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Containers Related</th>
      
      
        <td>823</td>
      
        <td>115</td>
      
        <td>36</td>
      
        <td>61</td>
      
        <td>28</td>
      
        <td>20</td>
      
        <td>354</td>
      
        <td>341</td>
      
        <td>429</td>
      
        <td>327</td>
      
        <td>247</td>
      
        <td>239</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>570</td>
      
        <td>50</td>
      
        <td>4</td>
      
        <td>26</td>
      
        <td>16</td>
      
        <td>5</td>
      
        <td>126</td>
      
        <td>112</td>
      
        <td>138</td>
      
        <td>102</td>
      
        <td>102</td>
      
        <td>111</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>234</td>
      
        <td>27</td>
      
        <td>23</td>
      
        <td>9</td>
      
        <td>8</td>
      
        <td>6</td>
      
        <td>377</td>
      
        <td>81</td>
      
        <td>63</td>
      
        <td>105</td>
      
        <td>95</td>
      
        <td>55</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>207</td>
      
        <td>21</td>
      
        <td>7</td>
      
        <td>19</td>
      
        <td>18</td>
      
        <td>11</td>
      
        <td>72</td>
      
        <td>84</td>
      
        <td>59</td>
      
        <td>67</td>
      
        <td>64</td>
      
        <td>63</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>133</td>
      
        <td>9</td>
      
        <td>6</td>
      
        <td>7</td>
      
        <td>7</td>
      
        <td>4</td>
      
        <td>18</td>
      
        <td>23</td>
      
        <td>14</td>
      
        <td>27</td>
      
        <td>20</td>
      
        <td>55</td>
      
    </tr>
  

  
</tbody>
</table>