<b> Daru::DataFrame(10x8) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="8">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="2">Sep_2019</th>
        
          <th colspan="1">Oct_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
          <th colspan="1">Dec_2019</th>
        
          <th colspan="1">Apr_20</th>
        
          <th colspan="1">July_2019</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>104</td>
      
        <td>96</td>
      
        <td>6</td>
      
        <td>102</td>
      
        <td>62</td>
      
        <td>86</td>
      
        <td>26</td>
      
        <td>118</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart</th>
      
      
        <td>6</td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
        <td>10</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td>8</td>
      
        <td>10</td>
      
        <td></td>
      
        <td>10</td>
      
        <td>2</td>
      
        <td>4</td>
      
        <td>4</td>
      
        <td>12</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>4250</td>
      
        <td>5180</td>
      
        <td>204</td>
      
        <td>4210</td>
      
        <td>3264</td>
      
        <td>3328</td>
      
        <td>520</td>
      
        <td>4594</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>60</td>
      
        <td>70</td>
      
        <td>4</td>
      
        <td>78</td>
      
        <td>48</td>
      
        <td>64</td>
      
        <td>14</td>
      
        <td>78</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>1192</td>
      
        <td>958</td>
      
        <td>42</td>
      
        <td>1148</td>
      
        <td>1016</td>
      
        <td>1324</td>
      
        <td>204</td>
      
        <td>1388</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td>50</td>
      
        <td>50</td>
      
        <td></td>
      
        <td>58</td>
      
        <td>36</td>
      
        <td>36</td>
      
        <td>6</td>
      
        <td>82</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>1304</td>
      
        <td>1648</td>
      
        <td>58</td>
      
        <td>1446</td>
      
        <td>988</td>
      
        <td>974</td>
      
        <td>168</td>
      
        <td>1358</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>1438</td>
      
        <td>1238</td>
      
        <td>60</td>
      
        <td>1240</td>
      
        <td>1094</td>
      
        <td>1430</td>
      
        <td>212</td>
      
        <td>1548</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>1430</td>
      
        <td>1500</td>
      
        <td>80</td>
      
        <td>1354</td>
      
        <td>542</td>
      
        <td>512</td>
      
        <td>62</td>
      
        <td>2048</td>
      
    </tr>
  

  
</tbody>
</table>