<b> Daru::DataFrame(15x12) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="12">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">June_20</th>
        
          <th colspan="1">May_20</th>
        
          <th colspan="1">Mar_20</th>
        
          <th colspan="1">July_2019</th>
        
          <th colspan="1">Sep_2019</th>
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="1">Jan_20</th>
        
          <th colspan="1">Oct_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
          <th colspan="1">Dec_2019</th>
        
          <th colspan="1">Feb_20</th>
        
          <th colspan="1">Apr_20</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>61</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td>5</td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td>1</td>
      
        <td>7</td>
      
        <td>3</td>
      
        <td>12</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>162</td>
      
        <td>8</td>
      
        <td>6</td>
      
        <td>59</td>
      
        <td>55</td>
      
        <td>42</td>
      
        <td></td>
      
        <td>48</td>
      
        <td>32</td>
      
        <td>43</td>
      
        <td>6</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>107</td>
      
        <td>2</td>
      
        <td>5</td>
      
        <td>43</td>
      
        <td>41</td>
      
        <td>31</td>
      
        <td></td>
      
        <td>33</td>
      
        <td>40</td>
      
        <td>56</td>
      
        <td>6</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>19</td>
      
        <td>3</td>
      
        <td>4</td>
      
        <td>30</td>
      
        <td>5</td>
      
        <td>8</td>
      
        <td>1</td>
      
        <td>7</td>
      
        <td>9</td>
      
        <td>14</td>
      
        <td>4</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>24</td>
      
        <td>6</td>
      
        <td>2</td>
      
        <td>106</td>
      
        <td>26</td>
      
        <td>77</td>
      
        <td>1</td>
      
        <td>16</td>
      
        <td>21</td>
      
        <td>34</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>23</td>
      
        <td>1</td>
      
        <td>3</td>
      
        <td>20</td>
      
        <td>8</td>
      
        <td>25</td>
      
        <td>1</td>
      
        <td>9</td>
      
        <td>14</td>
      
        <td>23</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>47</td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td>23</td>
      
        <td>15</td>
      
        <td>15</td>
      
        <td>1</td>
      
        <td>22</td>
      
        <td>15</td>
      
        <td>27</td>
      
        <td>3</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>27</td>
      
        <td>6</td>
      
        <td>5</td>
      
        <td>25</td>
      
        <td>15</td>
      
        <td>25</td>
      
        <td>1</td>
      
        <td>16</td>
      
        <td>17</td>
      
        <td>28</td>
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>94</td>
      
        <td>10</td>
      
        <td>3</td>
      
        <td>30</td>
      
        <td>22</td>
      
        <td>21</td>
      
        <td>4</td>
      
        <td>29</td>
      
        <td>21</td>
      
        <td>30</td>
      
        <td>4</td>
      
        <td>3</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>38</td>
      
        <td>3</td>
      
        <td>2</td>
      
        <td>30</td>
      
        <td>5</td>
      
        <td>4</td>
      
        <td></td>
      
        <td>5</td>
      
        <td>5</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>