<b> Daru::DataFrame(14x12) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="12">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Dec_2019</th>
        
          <th colspan="1">Feb_20</th>
        
          <th colspan="1">July_2019</th>
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="1">Sep_2019</th>
        
          <th colspan="1">Oct_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
          <th colspan="1">June_20</th>
        
          <th colspan="1">Apr_20</th>
        
          <th colspan="1">Mar_20</th>
        
          <th colspan="1">May_20</th>
        
          <th colspan="1">Jan_20</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>4</td>
      
        <td>2</td>
      
        <td>6</td>
      
        <td>8</td>
      
        <td>4</td>
      
        <td>4</td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td>11</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td>4</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>66</td>
      
        <td>3</td>
      
        <td>60</td>
      
        <td>83</td>
      
        <td>78</td>
      
        <td>68</td>
      
        <td>59</td>
      
        <td>148</td>
      
        <td>84</td>
      
        <td>13</td>
      
        <td>85</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>127</td>
      
        <td>4</td>
      
        <td>80</td>
      
        <td>86</td>
      
        <td>92</td>
      
        <td>61</td>
      
        <td>75</td>
      
        <td>20</td>
      
        <td>112</td>
      
        <td>13</td>
      
        <td>49</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>22</td>
      
        <td></td>
      
        <td>99</td>
      
        <td>22</td>
      
        <td>9</td>
      
        <td>24</td>
      
        <td>9</td>
      
        <td>19</td>
      
        <td>38</td>
      
        <td>1</td>
      
        <td>16</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>56</td>
      
        <td></td>
      
        <td>141</td>
      
        <td>50</td>
      
        <td>80</td>
      
        <td>45</td>
      
        <td>67</td>
      
        <td>83</td>
      
        <td>78</td>
      
        <td>10</td>
      
        <td>117</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>31</td>
      
        <td>1</td>
      
        <td>18</td>
      
        <td>20</td>
      
        <td>14</td>
      
        <td>16</td>
      
        <td>10</td>
      
        <td>50</td>
      
        <td>24</td>
      
        <td>1</td>
      
        <td>51</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td>4</td>
      
        <td>4</td>
      
        <td>3</td>
      
        <td>5</td>
      
        <td>6</td>
      
        <td></td>
      
        <td>8</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>22</td>
      
        <td></td>
      
        <td>24</td>
      
        <td>24</td>
      
        <td>26</td>
      
        <td>24</td>
      
        <td>17</td>
      
        <td>33</td>
      
        <td>13</td>
      
        <td>3</td>
      
        <td>17</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>3</td>
      
        <td>2</td>
      
        <td>12</td>
      
        <td>7</td>
      
        <td>7</td>
      
        <td>5</td>
      
        <td>9</td>
      
        <td>16</td>
      
        <td>9</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>8</td>
      
        <td>2</td>
      
        <td>46</td>
      
        <td>18</td>
      
        <td>33</td>
      
        <td>28</td>
      
        <td>16</td>
      
        <td>49</td>
      
        <td>24</td>
      
        <td>4</td>
      
        <td>33</td>
      
        <td>1</td>
      
    </tr>
  

  
</tbody>
</table>