<b> Daru::DataFrame(12x12) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="12">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Apr_20</th>
        
          <th colspan="1">June_20</th>
        
          <th colspan="1">Feb_20</th>
        
          <th colspan="1">July_2019</th>
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="1">Sep_2019</th>
        
          <th colspan="1">Oct_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
          <th colspan="1">Dec_2019</th>
        
          <th colspan="1">May_20</th>
        
          <th colspan="1">Jan_20</th>
        
          <th colspan="1">Mar_20</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>24</td>
      
        <td>36</td>
      
        <td>2</td>
      
        <td>14</td>
      
        <td>14</td>
      
        <td>18</td>
      
        <td>7</td>
      
        <td>9</td>
      
        <td>7</td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>10</td>
      
        <td>17</td>
      
        <td>2</td>
      
        <td>3</td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td>5</td>
      
        <td>6</td>
      
        <td>5</td>
      
        <td>17</td>
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>6</td>
      
        <td>16</td>
      
        <td></td>
      
        <td>4</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>4</td>
      
        <td>17</td>
      
        <td></td>
      
        <td>3</td>
      
        <td>9</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>1</td>
      
        <td>17</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>1</td>
      
        <td>17</td>
      
        <td></td>
      
        <td>4</td>
      
        <td>6</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>7</td>
      
        <td>18</td>
      
        <td>3</td>
      
        <td>9</td>
      
        <td>11</td>
      
        <td>5</td>
      
        <td>1</td>
      
        <td>3</td>
      
        <td>3</td>
      
        <td>16</td>
      
        <td></td>
      
        <td>3</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td>7</td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
    </tr>
  

  
</tbody>
</table>