<b> Daru::DataFrame(5x13) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="13">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">June_20</th>
        
          <th colspan="1">FY_21</th>
        
          <th colspan="1">May_20</th>
        
          <th colspan="1">Jan_20</th>
        
          <th colspan="1">Feb_20</th>
        
          <th colspan="1">Mar_20</th>
        
          <th colspan="1">Apr_20</th>
        
          <th colspan="1">July_2019</th>
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="1">Sep_2019</th>
        
          <th colspan="1">Oct_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
          <th colspan="1">Dec_2019</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Containers Related</th>
      
      
        <td>14475</td>
      
        <td>59452</td>
      
        <td>1306</td>
      
        <td>296</td>
      
        <td>740</td>
      
        <td>793</td>
      
        <td>503</td>
      
        <td>5837</td>
      
        <td>5173</td>
      
        <td>5780</td>
      
        <td>5007</td>
      
        <td>3693</td>
      
        <td>4098</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>5968</td>
      
        <td>25413</td>
      
        <td>552</td>
      
        <td>97</td>
      
        <td>263</td>
      
        <td>402</td>
      
        <td>223</td>
      
        <td>2469</td>
      
        <td>2168</td>
      
        <td>2017</td>
      
        <td>1942</td>
      
        <td>1766</td>
      
        <td>2131</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>2129</td>
      
        <td>9302</td>
      
        <td>397</td>
      
        <td>32</td>
      
        <td>152</td>
      
        <td>161</td>
      
        <td>138</td>
      
        <td>2872</td>
      
        <td>1176</td>
      
        <td>507</td>
      
        <td>979</td>
      
        <td>493</td>
      
        <td>1065</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>4061</td>
      
        <td>20226</td>
      
        <td>337</td>
      
        <td>92</td>
      
        <td>147</td>
      
        <td>242</td>
      
        <td>163</td>
      
        <td>1892</td>
      
        <td>1663</td>
      
        <td>1366</td>
      
        <td>1164</td>
      
        <td>970</td>
      
        <td>1253</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>1811</td>
      
        <td>7282</td>
      
        <td>116</td>
      
        <td>37</td>
      
        <td>70</td>
      
        <td>75</td>
      
        <td>50</td>
      
        <td>446</td>
      
        <td>342</td>
      
        <td>285</td>
      
        <td>338</td>
      
        <td>352</td>
      
        <td>580</td>
      
    </tr>
  

  
</tbody>
</table>