<b> Daru::DataFrame(14x12) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="12">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">June_20</th>
        
          <th colspan="1">May_20</th>
        
          <th colspan="1">Feb_20</th>
        
          <th colspan="1">Mar_20</th>
        
          <th colspan="1">Apr_20</th>
        
          <th colspan="1">July_2019</th>
        
          <th colspan="1">Jan_20</th>
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
          <th colspan="1">Dec_2019</th>
        
          <th colspan="1">Sep_2019</th>
        
          <th colspan="1">Oct_2019</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>46</td>
      
        <td>2</td>
      
        <td>3</td>
      
        <td>4</td>
      
        <td>3</td>
      
        <td>27</td>
      
        <td>1</td>
      
        <td>35</td>
      
        <td>21</td>
      
        <td>26</td>
      
        <td>18</td>
      
        <td>10</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>19</td>
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td>7</td>
      
        <td>2</td>
      
        <td>7</td>
      
        <td>3</td>
      
        <td>5</td>
      
        <td>6</td>
      
        <td>6</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>673</td>
      
        <td>51</td>
      
        <td>47</td>
      
        <td>29</td>
      
        <td>34</td>
      
        <td>323</td>
      
        <td>16</td>
      
        <td>288</td>
      
        <td>233</td>
      
        <td>225</td>
      
        <td>532</td>
      
        <td>313</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>602</td>
      
        <td>43</td>
      
        <td>35</td>
      
        <td>46</td>
      
        <td>43</td>
      
        <td>324</td>
      
        <td>19</td>
      
        <td>269</td>
      
        <td>226</td>
      
        <td>327</td>
      
        <td>261</td>
      
        <td>315</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>312</td>
      
        <td>36</td>
      
        <td>27</td>
      
        <td>20</td>
      
        <td>11</td>
      
        <td>283</td>
      
        <td>8</td>
      
        <td>212</td>
      
        <td>56</td>
      
        <td>146</td>
      
        <td>64</td>
      
        <td>108</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>653</td>
      
        <td>44</td>
      
        <td>35</td>
      
        <td>25</td>
      
        <td>20</td>
      
        <td>325</td>
      
        <td>16</td>
      
        <td>196</td>
      
        <td>149</td>
      
        <td>210</td>
      
        <td>192</td>
      
        <td>248</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>555</td>
      
        <td>31</td>
      
        <td>36</td>
      
        <td>24</td>
      
        <td>14</td>
      
        <td>189</td>
      
        <td>12</td>
      
        <td>134</td>
      
        <td>144</td>
      
        <td>157</td>
      
        <td>95</td>
      
        <td>111</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>5</td>
      
        <td>10</td>
      
        <td>2</td>
      
        <td>6</td>
      
        <td>10</td>
      
        <td>10</td>
      
        <td>12</td>
      
        <td>14</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>397</td>
      
        <td>25</td>
      
        <td>26</td>
      
        <td>15</td>
      
        <td>10</td>
      
        <td>132</td>
      
        <td>14</td>
      
        <td>113</td>
      
        <td>83</td>
      
        <td>118</td>
      
        <td>104</td>
      
        <td>111</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>13</td>
      
        <td></td>
      
        <td>5</td>
      
        <td>6</td>
      
        <td>1</td>
      
        <td>7</td>
      
        <td>7</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>250</td>
      
        <td>24</td>
      
        <td>14</td>
      
        <td>19</td>
      
        <td>9</td>
      
        <td>151</td>
      
        <td>9</td>
      
        <td>122</td>
      
        <td>106</td>
      
        <td>120</td>
      
        <td>250</td>
      
        <td>205</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>366</td>
      
        <td>39</td>
      
        <td>31</td>
      
        <td>28</td>
      
        <td>19</td>
      
        <td>209</td>
      
        <td>13</td>
      
        <td>178</td>
      
        <td>120</td>
      
        <td>156</td>
      
        <td>197</td>
      
        <td>161</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>176</td>
      
        <td>11</td>
      
        <td>10</td>
      
        <td>10</td>
      
        <td>5</td>
      
        <td>104</td>
      
        <td>1</td>
      
        <td>82</td>
      
        <td>42</td>
      
        <td>30</td>
      
        <td>83</td>
      
        <td>89</td>
      
    </tr>
  

  
</tbody>
</table>