<b> Daru::DataFrame(15x12) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="12">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">June_20</th>
        
          <th colspan="1">Feb_20</th>
        
          <th colspan="1">Mar_20</th>
        
          <th colspan="1">Apr_20</th>
        
          <th colspan="1">Aug_2019</th>
        
          <th colspan="1">Sep_2019</th>
        
          <th colspan="1">Dec_2019</th>
        
          <th colspan="1">Jan_20</th>
        
          <th colspan="1">July_2019</th>
        
          <th colspan="1">May_20</th>
        
          <th colspan="1">Oct_2019</th>
        
          <th colspan="1">Nov_2019</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>119</td>
      
        <td>4</td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td>29</td>
      
        <td>16</td>
      
        <td>16</td>
      
        <td>3</td>
      
        <td>25</td>
      
        <td>4</td>
      
        <td>15</td>
      
        <td>13</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>4</td>
      
        <td>7</td>
      
        <td>7</td>
      
        <td></td>
      
        <td>7</td>
      
        <td></td>
      
        <td>6</td>
      
        <td>3</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>345</td>
      
        <td>23</td>
      
        <td>44</td>
      
        <td>23</td>
      
        <td>260</td>
      
        <td>246</td>
      
        <td>169</td>
      
        <td>17</td>
      
        <td>274</td>
      
        <td>41</td>
      
        <td>216</td>
      
        <td>202</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>741</td>
      
        <td>23</td>
      
        <td>67</td>
      
        <td>29</td>
      
        <td>325</td>
      
        <td>293</td>
      
        <td>290</td>
      
        <td>23</td>
      
        <td>417</td>
      
        <td>78</td>
      
        <td>283</td>
      
        <td>251</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>101</td>
      
        <td>42</td>
      
        <td>29</td>
      
        <td>17</td>
      
        <td>163</td>
      
        <td>73</td>
      
        <td>169</td>
      
        <td>7</td>
      
        <td>444</td>
      
        <td>70</td>
      
        <td>134</td>
      
        <td>61</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>571</td>
      
        <td>43</td>
      
        <td>32</td>
      
        <td>13</td>
      
        <td>340</td>
      
        <td>288</td>
      
        <td>213</td>
      
        <td>24</td>
      
        <td>271</td>
      
        <td>44</td>
      
        <td>202</td>
      
        <td>168</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>104</td>
      
        <td>3</td>
      
        <td>8</td>
      
        <td>2</td>
      
        <td>29</td>
      
        <td>22</td>
      
        <td>46</td>
      
        <td>3</td>
      
        <td>34</td>
      
        <td>5</td>
      
        <td>23</td>
      
        <td>23</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td>4</td>
      
        <td>3</td>
      
        <td>9</td>
      
        <td>2</td>
      
        <td>8</td>
      
        <td>2</td>
      
        <td>6</td>
      
        <td>4</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>359</td>
      
        <td>28</td>
      
        <td>21</td>
      
        <td>15</td>
      
        <td>87</td>
      
        <td>89</td>
      
        <td>148</td>
      
        <td>12</td>
      
        <td>134</td>
      
        <td>20</td>
      
        <td>83</td>
      
        <td>102</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td>4</td>
      
        <td>4</td>
      
        <td>2</td>
      
        <td>8</td>
      
        <td></td>
      
        <td>6</td>
      
        <td>3</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>152</td>
      
        <td>9</td>
      
        <td>9</td>
      
        <td>6</td>
      
        <td>74</td>
      
        <td>69</td>
      
        <td>37</td>
      
        <td>2</td>
      
        <td>72</td>
      
        <td>22</td>
      
        <td>61</td>
      
        <td>49</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>266</td>
      
        <td>21</td>
      
        <td>20</td>
      
        <td>16</td>
      
        <td>93</td>
      
        <td>77</td>
      
        <td>148</td>
      
        <td>11</td>
      
        <td>133</td>
      
        <td>19</td>
      
        <td>84</td>
      
        <td>96</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>102</td>
      
        <td>6</td>
      
        <td>9</td>
      
        <td>7</td>
      
        <td>144</td>
      
        <td>120</td>
      
        <td>25</td>
      
        <td>4</td>
      
        <td>163</td>
      
        <td>12</td>
      
        <td>98</td>
      
        <td>27</td>
      
    </tr>
  

  
</tbody>
</table>