<b> Daru::DataFrame(10x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>2</td>
      
        <td>7</td>
      
        <td>5</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dead Animal Collection</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>15</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>2</td>
      
        <td>3</td>
      
        <td>8</td>
      
        <td>4</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>7</td>
      
        <td>4</td>
      
        <td>2</td>
      
        <td>5</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td>6</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Physically Challenged Pickup</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>4</td>
      
        <td>5</td>
      
        <td>1</td>
      
        <td>5</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>4</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Trash Dumping or Illegal Dumpsite</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
        <td>2</td>
      
    </tr>
  

  
</tbody>
</table>