<b> Daru::DataFrame(14x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NW</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>444</td>
      
        <td>248</td>
      
        <td>297</td>
      
        <td>266</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>92</td>
      
        <td>68</td>
      
        <td>71</td>
      
        <td>77</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>3524</td>
      
        <td>3092</td>
      
        <td>3066</td>
      
        <td>3459</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dead Animal Collection</th>
      
      
        <td>2234</td>
      
        <td>852</td>
      
        <td>542</td>
      
        <td>716</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>2659</td>
      
        <td>3578</td>
      
        <td>4096</td>
      
        <td>3175</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>1111</td>
      
        <td>2606</td>
      
        <td>3189</td>
      
        <td>2123</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>1027</td>
      
        <td>1035</td>
      
        <td>489</td>
      
        <td>1137</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Personnel or Vehicle Complaint</th>
      
      
        <td>19</td>
      
        <td>10</td>
      
        <td>22</td>
      
        <td>13</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Physically Challenged Pickup</th>
      
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>839</td>
      
        <td>811</td>
      
        <td>1002</td>
      
        <td>1476</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>921</td>
      
        <td>1085</td>
      
        <td>620</td>
      
        <td>1579</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>918</td>
      
        <td>1107</td>
      
        <td>1111</td>
      
        <td>600</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Storm Debris Collection</th>
      
      
        <td>651</td>
      
        <td>57</td>
      
        <td>38</td>
      
        <td>211</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Trash Dumping or Illegal Dumpsite</th>
      
      
        <td>1200</td>
      
        <td>1003</td>
      
        <td>435</td>
      
        <td>633</td>
      
    </tr>
  

  
</tbody>
</table>