<b> Daru::DataFrame(6x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>264</td>
      
        <td>364</td>
      
        <td>335</td>
      
        <td>287</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>86</td>
      
        <td>37</td>
      
        <td>49</td>
      
        <td>64</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>995</td>
      
        <td>765</td>
      
        <td>776</td>
      
        <td>680</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident in Private Development</th>
      
      
        <td>2</td>
      
        <td>7</td>
      
        <td>8</td>
      
        <td>4</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Non Residential Collection Service NEW</th>
      
      
        <td>56</td>
      
        <td>33</td>
      
        <td>51</td>
      
        <td>28</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>1327</td>
      
        <td>128</td>
      
        <td>335</td>
      
        <td>687</td>
      
    </tr>
  

  
</tbody>
</table>