<b> Daru::DataFrame(12x7) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="2" rowspan="2"></th>
        
        
          <th colspan="7">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="2"></th>
        
          <th colspan="1">Unknown</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="2">Add A Can</th>
      
        <th rowspan="1">Closed</th>
      
      
        <td>300</td>
      
        <td>267</td>
      
        <td>437</td>
      
        <td>239</td>
      
        <td>3</td>
      
        <td>63</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Open</th>
      
      
        <td>15</td>
      
        <td>11</td>
      
        <td>27</td>
      
        <td>14</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="2">New Move In Service</th>
      
        <th rowspan="1">Closed</th>
      
      
        <td>61</td>
      
        <td>83</td>
      
        <td>29</td>
      
        <td>41</td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Open</th>
      
      
        <td>4</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="2">New Resident Container</th>
      
        <th rowspan="1">Closed</th>
      
      
        <td>479</td>
      
        <td>1126</td>
      
        <td>1015</td>
      
        <td>1039</td>
      
        <td>146</td>
      
        <td>14</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Open</th>
      
      
        <td>16</td>
      
        <td>41</td>
      
        <td>53</td>
      
        <td>10</td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="2">New Resident in Private Development</th>
      
        <th rowspan="1">Closed</th>
      
      
        <td>1</td>
      
        <td>4</td>
      
        <td>7</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Open</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="2">Non Residential Collection Service NEW</th>
      
        <th rowspan="1">Closed</th>
      
      
        <td>14</td>
      
        <td>84</td>
      
        <td>52</td>
      
        <td>29</td>
      
        <td>21</td>
      
        <td>16</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Open</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="2">Recycling Participation NEW</th>
      
        <th rowspan="1">Closed</th>
      
      
        <td>621</td>
      
        <td>1598</td>
      
        <td>909</td>
      
        <td>1067</td>
      
        <td>161</td>
      
        <td>16</td>
      
        <td>4</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Open</th>
      
      
        <td>15</td>
      
        <td>34</td>
      
        <td>32</td>
      
        <td>7</td>
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>