<b> Daru::DataFrame(3x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NW</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>68</td>
      
        <td>32</td>
      
        <td>87</td>
      
        <td>147</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>1757</td>
      
        <td>1752</td>
      
        <td>1029</td>
      
        <td>2183</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>1628</td>
      
        <td>1386</td>
      
        <td>1086</td>
      
        <td>2473</td>
      
    </tr>
  

  
</tbody>
</table>