<b> Daru::DataFrame(3x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NE</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>216</td>
      
        <td>73</td>
      
        <td>102</td>
      
        <td>55</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>2181</td>
      
        <td>1513</td>
      
        <td>1301</td>
      
        <td>1431</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>2348</td>
      
        <td>484</td>
      
        <td>1181</td>
      
        <td>216</td>
      
    </tr>
  

  
</tbody>
</table>