<b> Daru::DataFrame(6x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SW</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>320</td>
      
        <td>416</td>
      
        <td>477</td>
      
        <td>362</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>178</td>
      
        <td>67</td>
      
        <td>53</td>
      
        <td>116</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>2312</td>
      
        <td>1470</td>
      
        <td>1302</td>
      
        <td>1011</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident in Private Development</th>
      
      
        <td>16</td>
      
        <td>8</td>
      
        <td>9</td>
      
        <td>1</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Non Residential Collection Service NEW</th>
      
      
        <td>116</td>
      
        <td>91</td>
      
        <td>94</td>
      
        <td>72</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>2690</td>
      
        <td>985</td>
      
        <td>687</td>
      
        <td>1198</td>
      
    </tr>
  

  
</tbody>
</table>