<b> Daru::DataFrame(6x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>402</td>
      
        <td>353</td>
      
        <td>508</td>
      
        <td>390</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>93</td>
      
        <td>171</td>
      
        <td>42</td>
      
        <td>73</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>833</td>
      
        <td>1957</td>
      
        <td>1345</td>
      
        <td>1521</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident in Private Development</th>
      
      
        <td>6</td>
      
        <td>7</td>
      
        <td>5</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Non Residential Collection Service NEW</th>
      
      
        <td>49</td>
      
        <td>105</td>
      
        <td>65</td>
      
        <td>63</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>899</td>
      
        <td>2283</td>
      
        <td>1082</td>
      
        <td>1353</td>
      
    </tr>
  

  
</tbody>
</table>