<b> Daru::DataFrame(6x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>400</td>
      
        <td>561</td>
      
        <td>481</td>
      
        <td>485</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>194</td>
      
        <td>42</td>
      
        <td>66</td>
      
        <td>119</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>2394</td>
      
        <td>1374</td>
      
        <td>1421</td>
      
        <td>1182</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident in Private Development</th>
      
      
        <td>19</td>
      
        <td>14</td>
      
        <td>11</td>
      
        <td>9</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Non Residential Collection Service NEW</th>
      
      
        <td>126</td>
      
        <td>95</td>
      
        <td>63</td>
      
        <td>43</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>3224</td>
      
        <td>412</td>
      
        <td>837</td>
      
        <td>1224</td>
      
    </tr>
  

  
</tbody>
</table>