<b> Daru::DataFrame(3x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>122</td>
      
        <td>66</td>
      
        <td>202</td>
      
        <td>43</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>1274</td>
      
        <td>1464</td>
      
        <td>2519</td>
      
        <td>1419</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>1306</td>
      
        <td>843</td>
      
        <td>3237</td>
      
        <td>420</td>
      
    </tr>
  

  
</tbody>
</table>