<b> Daru::DataFrame(3x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NE</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>105</td>
      
        <td>183</td>
      
        <td>74</td>
      
        <td>36</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>817</td>
      
        <td>2305</td>
      
        <td>1435</td>
      
        <td>1406</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>938</td>
      
        <td>2442</td>
      
        <td>1281</td>
      
        <td>1067</td>
      
    </tr>
  

  
</tbody>
</table>