<b> Daru::DataFrame(3x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NW</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>93</td>
      
        <td>44</td>
      
        <td>74</td>
      
        <td>174</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>867</td>
      
        <td>1391</td>
      
        <td>1545</td>
      
        <td>2029</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>917</td>
      
        <td>1097</td>
      
        <td>1367</td>
      
        <td>2352</td>
      
    </tr>
  

  
</tbody>
</table>