<b> Daru::DataFrame(6x4) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="4">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>540</td>
      
        <td>919</td>
      
        <td>722</td>
      
        <td>798</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>145</td>
      
        <td>40</td>
      
        <td>70</td>
      
        <td>80</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>1825</td>
      
        <td>1441</td>
      
        <td>1919</td>
      
        <td>1001</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident in Private Development</th>
      
      
        <td>15</td>
      
        <td>7</td>
      
        <td>7</td>
      
        <td>2</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Non Residential Collection Service NEW</th>
      
      
        <td>117</td>
      
        <td>63</td>
      
        <td>48</td>
      
        <td>32</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>2207</td>
      
        <td>1139</td>
      
        <td>1625</td>
      
        <td>1090</td>
      
    </tr>
  

  
</tbody>
</table>