<b> Daru::DataFrame(32x13) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="13">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="2">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1"><null></th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NE</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Overdue</th>
        
          <th colspan="6">Overdue</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Bin</th>
      
      
        <td>13</td>
      
        <td>10</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>3</td>
      
        <td>42</td>
      
        <td>125</td>
      
        <td>29</td>
      
        <td>55</td>
      
        <td>86</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>3</td>
      
        <td>8</td>
      
        <td>11</td>
      
        <td>25</td>
      
        <td>1</td>
      
        <td>19</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Placement</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>28</td>
      
        <td>2</td>
      
        <td></td>
      
        <td>9</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>20</td>
      
        <td>358</td>
      
        <td>331</td>
      
        <td>478</td>
      
        <td>104</td>
      
        <td>531</td>
      
        <td>53</td>
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Customer Feedback</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dead Animal Collection</th>
      
      
        <td></td>
      
        <td>8</td>
      
        <td>56</td>
      
        <td>1</td>
      
        <td>12</td>
      
        <td>3</td>
      
        <td>45</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dumpster Complaint</th>
      
      
        <td></td>
      
        <td>10</td>
      
        <td>74</td>
      
        <td>1</td>
      
        <td>17</td>
      
        <td>42</td>
      
        <td>23</td>
      
        <td>21</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Employee Commendation</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
        <td></td>
      
        <td>11</td>
      
        <td>9</td>
      
        <td>1</td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Miss Complaint</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>1</td>
      
        <td>100</td>
      
        <td>132</td>
      
        <td>1</td>
      
        <td>137</td>
      
        <td>217</td>
      
        <td>21</td>
      
        <td>10</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>1</td>
      
        <td>46</td>
      
        <td>702</td>
      
        <td>65</td>
      
        <td>534</td>
      
        <td>148</td>
      
        <td>2237</td>
      
        <td>974</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>3</td>
      
        <td>93</td>
      
        <td>53</td>
      
        <td>205</td>
      
        <td>133</td>
      
        <td>97</td>
      
        <td>5</td>
      
        <td>27</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>9</td>
      
        <td>50</td>
      
        <td>1</td>
      
        <td>166</td>
      
        <td>3</td>
      
        <td>100</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>10</td>
      
        <td>23</td>
      
        <td>1</td>
      
        <td>47</td>
      
        <td>4</td>
      
        <td>10</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>31</td>
      
        <td>94</td>
      
        <td>121</td>
      
        <td>18</td>
      
        <td>26</td>
      
        <td>79</td>
      
        <td>4</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Non Residential Collection Service NEW</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Order Bag Tags</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Personnel or Vehicle Complaint</th>
      
      
        <td>8</td>
      
        <td>15</td>
      
        <td></td>
      
        <td>33</td>
      
        <td>6</td>
      
        <td>17</td>
      
        <td>5</td>
      
        <td>36</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Physically Challenged Pickup</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>20</td>
      
        <td></td>
      
        <td>11</td>
      
        <td>15</td>
      
        <td>10</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Property Damage</th>
      
      
        <td>6</td>
      
        <td>5</td>
      
        <td>41</td>
      
        <td>38</td>
      
        <td>18</td>
      
        <td>19</td>
      
        <td>10</td>
      
        <td>21</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td>8</td>
      
        <td>11</td>
      
        <td></td>
      
        <td>1</td>
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>17</td>
      
        <td>149</td>
      
        <td>112</td>
      
        <td>164</td>
      
        <td>26</td>
      
        <td>171</td>
      
        <td>7</td>
      
        <td>20</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Information</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>3</td>
      
        <td>147</td>
      
        <td>230</td>
      
        <td>204</td>
      
        <td>45</td>
      
        <td>101</td>
      
        <td>28</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td></td>
      
        <td>13</td>
      
        <td>34</td>
      
        <td>13</td>
      
        <td>11</td>
      
        <td>68</td>
      
        <td>26</td>
      
        <td>9</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Information</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td>98</td>
      
        <td>2</td>
      
        <td>4</td>
      
        <td>91</td>
      
        <td>109</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Spilled Debris</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>4</td>
      
        <td>16</td>
      
        <td>1</td>
      
        <td></td>
      
        <td>23</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Storm Debris Collection</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  

  
    <tr>
      
        <th>...</th>
      
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
        <td>...</td>
      
    </tr>

    

    <tr>
      
        <th>Uncollected Service Units</td>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
</tbody>
</table>