<b> Daru::DataFrame(30x13) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="13">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="2">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="2">SW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1"><null></th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NE</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Overdue</th>
        
          <th colspan="6">Overdue</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Bin</th>
      
      
        <td>13</td>
      
        <td>3</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>3</td>
      
        <td>27</td>
      
        <td>79</td>
      
        <td>15</td>
      
        <td>42</td>
      
        <td>42</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>3</td>
      
        <td>6</td>
      
        <td>6</td>
      
        <td>21</td>
      
        <td>8</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Placement</th>
      
      
        <td></td>
      
        <td>3</td>
      
        <td>7</td>
      
        <td></td>
      
        <td>3</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>4</td>
      
        <td>193</td>
      
        <td>220</td>
      
        <td>342</td>
      
        <td>267</td>
      
        <td>84</td>
      
        <td>50</td>
      
        <td>9</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Customer Feedback</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dead Animal Collection</th>
      
      
        <td></td>
      
        <td>6</td>
      
        <td>23</td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td>6</td>
      
        <td>33</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dumpster Complaint</th>
      
      
        <td></td>
      
        <td>6</td>
      
        <td>55</td>
      
        <td></td>
      
        <td>34</td>
      
        <td>8</td>
      
        <td>18</td>
      
        <td>17</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Employee Commendation</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Miss Complaint</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>2</td>
      
        <td>90</td>
      
        <td>94</td>
      
        <td>1</td>
      
        <td>132</td>
      
        <td>96</td>
      
        <td>20</td>
      
        <td>6</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>124</td>
      
        <td>211</td>
      
        <td>325</td>
      
        <td>22</td>
      
        <td>150</td>
      
        <td>284</td>
      
        <td>881</td>
      
        <td>880</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>1</td>
      
        <td>31</td>
      
        <td>40</td>
      
        <td>92</td>
      
        <td>84</td>
      
        <td>51</td>
      
        <td>1</td>
      
        <td>26</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>8</td>
      
        <td>28</td>
      
        <td></td>
      
        <td>70</td>
      
        <td>74</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>10</td>
      
        <td>14</td>
      
        <td></td>
      
        <td>45</td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>10</td>
      
        <td>66</td>
      
        <td>68</td>
      
        <td>11</td>
      
        <td>36</td>
      
        <td>14</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Personnel or Vehicle Complaint</th>
      
      
        <td>1</td>
      
        <td>8</td>
      
        <td></td>
      
        <td>5</td>
      
        <td>6</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>32</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Physically Challenged Pickup</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>16</td>
      
        <td></td>
      
        <td>7</td>
      
        <td>3</td>
      
        <td>5</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Property Damage</th>
      
      
        <td>6</td>
      
        <td>5</td>
      
        <td>21</td>
      
        <td>32</td>
      
        <td>5</td>
      
        <td>14</td>
      
        <td>5</td>
      
        <td>21</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td></td>
      
        <td>1</td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>12</td>
      
        <td>96</td>
      
        <td>55</td>
      
        <td>123</td>
      
        <td>74</td>
      
        <td>25</td>
      
        <td>2</td>
      
        <td>26</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Information</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td>3</td>
      
        <td>93</td>
      
        <td>97</td>
      
        <td>196</td>
      
        <td>48</td>
      
        <td>20</td>
      
        <td>16</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>2</td>
      
        <td>5</td>
      
        <td>21</td>
      
        <td>4</td>
      
        <td>55</td>
      
        <td>7</td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Information</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>68</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>83</td>
      
        <td>70</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Spilled Debris</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td></td>
      
        <td>5</td>
      
        <td>7</td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Storm Debris Collection</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Trash Dumping or Illegal Dumpsite</th>
      
      
        <td>3</td>
      
        <td>82</td>
      
        <td>612</td>
      
        <td>170</td>
      
        <td>93</td>
      
        <td>355</td>
      
        <td>543</td>
      
        <td>688</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Uncollected Service Units</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>