<b> Daru::DataFrame(26x12) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="3"></th>
        
        
          <th colspan="12">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NW</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">NE</th>
        
          <th colspan="1">NW</th>
        
          <th colspan="1">SE</th>
        
          <th colspan="1">SW</th>
        
          <th colspan="1">NE</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">Overdue</th>
        
          <th colspan="1">Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Not Overdue</th>
        
          <th colspan="1">Overdue</th>
        
          <th colspan="5">Overdue</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Bin</th>
      
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>3</td>
      
        <td>3</td>
      
        <td>23</td>
      
        <td>10</td>
      
        <td>13</td>
      
        <td>17</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td>3</td>
      
        <td>3</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Placement</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td></td>
      
        <td>57</td>
      
        <td>65</td>
      
        <td>73</td>
      
        <td>37</td>
      
        <td>98</td>
      
        <td>6</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dead Animal Collection</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>6</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dumpster Complaint</th>
      
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
        <td>1</td>
      
        <td>10</td>
      
        <td>8</td>
      
        <td>4</td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Miss Complaint</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>3</td>
      
        <td></td>
      
        <td>14</td>
      
        <td>40</td>
      
        <td>1</td>
      
        <td>65</td>
      
        <td>4</td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>36</td>
      
        <td></td>
      
        <td>114</td>
      
        <td>15</td>
      
        <td>154</td>
      
        <td>15</td>
      
        <td>271</td>
      
        <td>101</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>5</td>
      
        <td>17</td>
      
        <td>12</td>
      
        <td>11</td>
      
        <td>2</td>
      
        <td>33</td>
      
        <td>12</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>3</td>
      
        <td>7</td>
      
        <td>3</td>
      
        <td>6</td>
      
        <td></td>
      
        <td>7</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>3</td>
      
        <td>18</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>5</td>
      
        <td></td>
      
        <td>8</td>
      
        <td>10</td>
      
        <td>15</td>
      
        <td>10</td>
      
        <td>2</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Personnel or Vehicle Complaint</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>9</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Physically Challenged Pickup</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Property Damage</th>
      
      
        <td>3</td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td>2</td>
      
        <td>5</td>
      
        <td>1</td>
      
        <td>6</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>6</td>
      
        <td>35</td>
      
        <td>39</td>
      
        <td>27</td>
      
        <td>11</td>
      
        <td>28</td>
      
        <td>15</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td></td>
      
        <td>35</td>
      
        <td>37</td>
      
        <td>36</td>
      
        <td>27</td>
      
        <td>15</td>
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td></td>
      
        <td>7</td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>4</td>
      
        <td>3</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Information</th>
      
      
        <td></td>
      
        <td>13</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>12</td>
      
        <td>15</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Spilled Debris</th>
      
      
        <td></td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Trash Dumping or Illegal Dumpsite</th>
      
      
        <td></td>
      
        <td>39</td>
      
        <td>130</td>
      
        <td>42</td>
      
        <td>185</td>
      
        <td>23</td>
      
        <td>136</td>
      
        <td>115</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Uncollected Service Units</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>