<b> Daru::DataFrame(23x10) </b>
<table>
  <thead>
  
    
      <tr>
        
          <th colspan="1" rowspan="2"></th>
        
        
          <th colspan="10">tally</th>
        
      </tr>
    
      <tr>
        
        
          <th colspan="1">NW_Overdue</th>
        
          <th colspan="1">NW_Not_Overdue</th>
        
          <th colspan="1">NE_Not_Overdue</th>
        
          <th colspan="1">SE_Not_Overdue</th>
        
          <th colspan="1">SW_Not_Overdue</th>
        
          <th colspan="1">NE_Overdue</th>
        
          <th colspan="1">SE_Overdue</th>
        
          <th colspan="1">No_Quad_Not_Overdue</th>
        
          <th colspan="2">SW_Overdue</th>
        
      </tr>
    
  
</thead>
  <tbody>
  
    <tr>
      
        <th rowspan="1">Add A Can</th>
      
      
        <td>1</td>
      
        <td>10</td>
      
        <td>29</td>
      
        <td>15</td>
      
        <td>25</td>
      
        <td>8</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Can CANCELLATION</th>
      
      
        <td></td>
      
        <td>4</td>
      
        <td>1</td>
      
        <td>3</td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Add A Cart CANCELLATION</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Placement</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Container Problem</th>
      
      
        <td>19</td>
      
        <td>113</td>
      
        <td>60</td>
      
        <td>78</td>
      
        <td>78</td>
      
        <td>109</td>
      
        <td>52</td>
      
        <td>1</td>
      
        <td>10</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dead Animal Collection</th>
      
      
        <td>1</td>
      
        <td>3</td>
      
        <td>5</td>
      
        <td>4</td>
      
        <td>5</td>
      
        <td>3</td>
      
        <td>1</td>
      
        <td>6</td>
      
        <td>4</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Dumpster Complaint</th>
      
      
        <td>1</td>
      
        <td>3</td>
      
        <td></td>
      
        <td>5</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>3</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Miss Complaint</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>4</td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Garbage Pickup</th>
      
      
        <td>6</td>
      
        <td>35</td>
      
        <td>47</td>
      
        <td>40</td>
      
        <td>92</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Heavy Trash Pickup</th>
      
      
        <td>43</td>
      
        <td>13</td>
      
        <td>26</td>
      
        <td>44</td>
      
        <td>8</td>
      
        <td>4</td>
      
        <td>36</td>
      
        <td></td>
      
        <td>3</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Recycling Pickup</th>
      
      
        <td>4</td>
      
        <td>18</td>
      
        <td>16</td>
      
        <td>24</td>
      
        <td>80</td>
      
        <td></td>
      
        <td>36</td>
      
        <td></td>
      
        <td>35</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Missed Yard Waste Pickup</th>
      
      
        <td>1</td>
      
        <td>17</td>
      
        <td>2</td>
      
        <td>1</td>
      
        <td>71</td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Move In Service</th>
      
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>2</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident Container</th>
      
      
        <td>34</td>
      
        <td>59</td>
      
        <td>27</td>
      
        <td>12</td>
      
        <td>10</td>
      
        <td>42</td>
      
        <td>2</td>
      
        <td>4</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">New Resident in Private Development</th>
      
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Non Residential Collection CANCEL</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Property Damage</th>
      
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td>3</td>
      
        <td>1</td>
      
        <td></td>
      
        <td>15</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycle Bin/Cart Retrieve</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td>1</td>
      
        <td>2</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Cart Repair or Replace</th>
      
      
        <td>4</td>
      
        <td>37</td>
      
        <td>32</td>
      
        <td>31</td>
      
        <td>34</td>
      
        <td>11</td>
      
        <td>9</td>
      
        <td></td>
      
        <td>7</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Recycling Participation NEW</th>
      
      
        <td></td>
      
        <td>71</td>
      
        <td>51</td>
      
        <td>60</td>
      
        <td>17</td>
      
        <td></td>
      
        <td></td>
      
        <td>8</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">SWM Escalation</th>
      
      
        <td>15</td>
      
        <td>7</td>
      
        <td>5</td>
      
        <td>13</td>
      
        <td>8</td>
      
        <td>3</td>
      
        <td>2</td>
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Spilled Debris</th>
      
      
        <td></td>
      
        <td>1</td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  
    <tr>
      
        <th rowspan="1">Trash Dumping or Illegal Dumpsite</th>
      
      
        <td></td>
      
        <td>37</td>
      
        <td>63</td>
      
        <td>61</td>
      
        <td>20</td>
      
        <td></td>
      
        <td></td>
      
        <td>9</td>
      
        <td></td>
      
        <td></td>
      
    </tr>
  

  
</tbody>
</table>